body {
    margin: 0;
    padding: 0;
    background-image: url("https://j12h36h.github.io/i0a.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}